@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #171717;
    --foreground: #ffffff;
    --star-poisition: 50%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #171717;
        --foreground: #ffffff;
    }
}

@font-face {
    font-family: 'NaniFont';
    src: url('/fonts/NaniFont-Bold.ttf') format('woff');
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'NaniFont',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section {
  width: 100%;
  height: 100vh;
}

.star{
    filter: drop-shadow(16px 16px 20px purple);
    position: relative;
}

.star::after{
    content: "";
    @apply fixed border-2 border-white w-[40%] h-[40%] rotate-45;
    z-index: -1;
}

.star::before{
    content: "";
    @apply fixed border-2 border-solid border-white w-screen h-[2px];
    z-index: -1;
}

.card-container{
    @apply h-[70%] w-screen flex flex-col items-center

    /*  lg  */
        lg:flex-row
    ;
}

.card {
    @apply w-[38vh] m-2 lg:w-full z-[-1] border-2 border-solid border-white
    opacity-0 rounded-xl
    ;
}

/* 具体卡片类继承基础卡片类并添加特有样式 */
.left-card {
    @apply card transform lg:translate-y-[100px];
}

.right-card {
    @apply card transform lg:translate-y-[100px];
}

.mid-card {
    @apply card;
}

.section01-title{
    @apply absolute left-[50%] transform translate-x-[-50%] w-full
            lg:top-[120px] phone:top-[60px] sm:text-[5vw] phone:text-[30px] text-center;
}

.icon{
    @apply hover:scale-105 hover:cursor-pointer;
}

.header{
    @apply fixed w-full h-[80px] flex justify-end items-center z-[1001] gap-x-8
    ;
}


a {
  position: relative;
  text-decoration: none; /* 移除默认下划线 */
}

/* 下划线元素 */
a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* 下划线距离文字的距离，可根据需要调整 */
  width: 100%;
  height: 2px; /* 下划线的高度，可根据需要调整 */
  background-color: skyblue; /* 下划线颜色，与文字颜色相同 */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

/* 悬停时的下划线动画 */
a:hover::after,
a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

a:checked::after {
  transform: scaleX(0);
}